<div class="center jumbotron">
	<h1>Bookmarks <% link_to "Home", root_path, class: "btn btn-lg btn-primary" %></h1>

	<table>
	<% @bookmarks.each do |bk| %>
		<tr>
			<td><%= link_to bk.title, bk.url, class: "btn btn-lg btn-primary" %></td>
			<td><button type="button">Tag</button></td>
			<td><button type="button">Remove</button></td>
		</tr>
	<% end %>
	</table>

	
</div>

