<div class="center jumbotron">
	<h1>Bookmark Manager Deluxe</h1>

	<table>
		<tr>
			<td><%= link_to "View Bookmarks", bkmk_path, class: "btn btn-lg btn-primary" %></td>
			<td><%= link_to "Add Bookmark", add_path, class: "btn btn-lg btn-primary" %></td>
			<td><%= link_to "Search By Tag", search_path, class: "btn btn-lg btn-primary" %></td>
		</tr>
	</table>
</div>